certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
kafka-python==2.0.2
kevals @ git+https://github.com/ukwa/kevals.git@cfbeef82365764c0b829c223859903097a8f421f
mmh3==4.0.1
python-snappy==0.6.1
requests==2.31.0
urlcanon==0.3.1
urllib3==2.1.0
